mixin showComment(name, date, comment)
    article.row
        .col-md-2.col-sm-2.hidden-xs
            figure.thumbnail
                img.img-responsive(src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png")
                figcaption.text-center username
        .col-md-10.col-sm-10
            .panel.panel-default.arrow.left
                .panel-body
                    header.text-left
                        .comment-user
                            i.fa.fa-user
                            | #{name}
                        time.comment-date(datetime="16-12-2014 01:05")
                            i.fa.fa-clock-o
                            |  #{date}
                    .comment-post
                        p=comment