extends layout

block content
    .container
      section.comment-list
        // First Comment
        article.row
          .col-md-2.col-sm-2.hidden-xs
            figure.thumbnail
              img.img-responsive(src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png")
              figcaption.text-center username
          .col-md-10.col-sm-10
            .panel.panel-default.arrow.left
              .panel-body
                header.text-left
                  .comment-user
                    i.fa.fa-user
                    | The person 1
                  time.comment-date(datetime="16-12-2014 01:05")
                    i.fa.fa-clock-o
                    |  Dec 16, 2014
                .comment-post
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        // Second Comment
        article.row
          .col-md-2.col-sm-2.hidden-xs
            figure.thumbnail
              img.img-responsive(src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png")
              figcaption.text-center username
          .col-md-10.col-sm-10
            .panel.panel-default.arrow.left
              .panel-body
                header.text-left
                  .comment-user
                    i.fa.fa-user
                    | The person 2
                  time.comment-date(datetime="22-12-2015 05:05")
                    i.fa.fa-clock-o
                    |  Dec 22, 2015
                .comment-post
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .container
      .widget-area.no-padding.blank
        .status-upload
          form
            .form-group
              label(for="username") Name:
              input.form-control(type="text" name="username")
            .form-group
              label(for="comment") Comment:
              textarea.form-control(rows="5" name="comment")
            .form-group
              label(for="picupload") Upload Image
              .input-group
                span.input-group-btn
                  span.btn.btn-default.btn-file
                    | Browse… 
                    input#imgInp(type="file")
                input.form-control(type="text" name="picupload")
              div
                img#img-upload
            button.btn.btn-success.green(type="submit")
              i.fa.fa-share
              |  Share
        // Status Upload
      // Widget Area
    
    script(src="/javascripts/comments.js")
