extends layout

block content
    section.about-list
      article.row
        .col-md-10.col-sm-10
          .panel.panel-default.arrow.left
            .panel-body
              header.text-left
                .comment-user
                  i.fa.fa-user
                  | Developer
                time.comment-date(datetime="16-12-2014 01:05")
                  i.fa.fa-clock-o
                  |  Dec 16, 2014
              .comment-post
                p
                  | This a GREAT page to for you to start commenting.
