extends layout

include _include/commonFunctions.pug

block content
    .container
      section.comment-list
        each comment in comments
          +showComment(comment.name, comment.date, comment.comment)
        
    .container
      .widget-area.no-padding.blank
        .status-upload
          form#commentForma
            .form-group
              label(for="username") Name:
              input.form-control(type="text" name="username" id="name")
            .form-group
              label(for="comment") Comment:
              textarea.form-control(rows="5" name="comment" id="comment")
            .form-group
              label(for="picupload") Upload Image
              .input-group
                span.input-group-btn
                  span.btn.btn-default.btn-file
                    | Browse… 
                    input#imgInp(type="file")
                input.form-control(type="text" name="picupload")
              div
                img#img-upload
            button.btn.btn-success.green(type="submit")
              i.fa.fa-share
              |  Share
        // Status Upload
      // Widget Area
    
    script(src="/javascripts/comments.js")
